/**SECTION BANNER**/
.banner {
    width: 100%;
    height: 88vh;
    overflow: hidden;
    position: relative;
}

.banner::before,
.banner::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--cor-preta);
    z-index: 1;
}

.banner::before {
    left: 50%;
}
.banner::after {
    right: 50%;
}

.show-effect.banner::before,
.show-effect.banner::after {
    animation: move-overlay .7s;
}
@keyframes move-overlay {
    0% {
        width: 0;
        opacity: .5;
    }
    100% {
        width: 50%;
        opacity: 0;
    }
}

.banner__item {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.show-item.banner__item {
    animation: show-img .7s forwards;
}
@keyframes show-img {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.banner__image img {
    display: block;
    width: 100%;
    height: 88vh;
    object-fit: cover;
}

.banner__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.banner__btn-left,
.banner__btn-right {
    cursor: pointer;
    opacity: .55;
    border: none;
    transition: .5s;
}

.banner__btn-left:hover,
.banner__btn-right:hover {
    opacity: 1;
}

.banner__buttons i {
    position: absolute;
}

.banner__btn-left i,
.banner__btn-right i {
    border-radius: 50%;
    border: 3px solid var(--cor-branca);
    background: var(--cor-branca);
    font-size: calc(25px + 1vw);
    padding-top: 1px;
}

.banner__btn-left i {
    left: 1.3%;
}
.banner__btn-right i {
    right: 1.3%;
}

.banner__numbers,
.banner__description {
    background: rgba(0, 0, 0, .5);
    color: var(--cor-branca);
    border: 2px solid var(--cor-branca);
    border-radius: 7px;
    color: var(--cor-branca);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.banner__numbers {    
    top: 1rem;
    right: 1rem;
    font-size: calc(1rem + .5vw);
    padding: .4rem .9rem;
}

.banner__description {
    bottom: 1.8rem;
    left: 1.6rem;
    font-size: calc(1.3rem + .5vw);
    padding: .7rem 1rem;
}

.moving-text.banner__description {
    animation: move-text 1s;
}
@keyframes move-text {
    0% {
        transform: rotateX(180deg) translateX(-80px);
        opacity: .5;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.moving-text.banner__numbers {
    animation: move-text2 1s; 
}
@keyframes move-text2 {
    0% {transform: translateX(35px);}
    100% {transform: translateX(0);}
}

/**SECTION MISSION**/
.mission {
    padding: 3rem 0;
    background: url(../img/glass-wine.jpg) no-repeat center;
    background-size: cover;
    border-top: 2px solid var(--cor-preta);
    border-bottom: 2px solid var(--cor-preta);
}

.mission__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 var(--cor-branca), 1px -1px 0 var(--cor-branca), -1px 1px 0 var(--cor-branca), 1px 1px 0 var(--cor-branca);
}

.mission__content {
    display: flex;
    justify-content: space-evenly;
}

.mission__content__item {
    text-align: center;
    flex-basis: 20%;
    padding: 1rem;
}

.mission__content__subtitle {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.mission__content__paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--cor-branca);
}

/**SECTION PROMOTION**/
.promotion {
    padding: 2rem;
}

.promotion__title {
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem 0 1.6rem 0;
}

.promotion__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

.promotion__item {
    flex-basis: 23%;
    border: 3px solid var(--cor-vinho-verde);
    box-shadow: 0 0 8px var(--cor-dourada), 0 0 0 4px var(--cor-dourada), 0 0 0 4px var(--cor-dourada);
    border-radius: 10px;
    background-color: var(--cor-dourada);
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.promotion__item header {
    position: relative;
    overflow: hidden;
}

.promotion__item__image img {
    display: block;
    width: 100%;
    max-height: 390px;
    border-radius: 7px 7px 0 0;
    transition: all .5s;
}

.promotion__item:hover .promotion__item__image img {
    transform: scale(1.2);
}

.promotion__item__price {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .45);
    padding: .7rem 0;
    color: var(--cor-branca);
    font-size: 1.6rem;
    border-top: 3px solid var(--cor-dourada);
    position: absolute;
    bottom: 0px;
}

.promotion__item__name {
    display: block;
    width: 100%;
    background-color: var(--cor-vinho-verde);
    padding: .7rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.promotion__item__btn {
    margin: .9rem 0;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: var(--cor-vinho-verde);
    color: var(--cor-branca);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--cor-branca);
    transition: all .5s;
}
.promotion__item__btn:hover {
    color: var(--cor-preta);
    border: 1px solid var(--cor-preta);
}

/**SECTION RELEASE**/
.release {
    padding: 2rem;
}

.release__title {
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem 0 1.6rem 0;
}

.release__content {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

.release__item {
    border: 3px solid var(--cor-vinho-escuro);
    box-shadow: 0 0 8px var(--cor-rosa), 0 0 0 4px var(--cor-rosa), 0 0 0 4px var(--cor-rosa);
    border-radius: 10px;
    background-color: var(--cor-rosa);
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.release__item header {
    position: relative;
    overflow: hidden;
}

.release__item__image img {
    display: block;
    width: 100%;
    max-height: 390px;
    border-radius: 7px 7px 0 0;
    transition: all .5s;
}

.release__item:hover .release__item__image img {
    transform: scale(1.2);
}

.release__item__price {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .45);
    padding: .7rem 0;
    color: var(--cor-branca);
    font-size: 1.6rem;
    border-top: 3px solid var(--cor-rosa);
    position: absolute;
    bottom: 0px;
}

.release__item__name {
    display: block;
    padding: .7rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--cor-vinho-escuro);
    color: var(--cor-branca);
    text-shadow: -1px -1px 0 var(--cor-preta), 1px -1px 0 var(--cor-preta), -1px 1px 0 var(--cor-preta), 1px 1px 0 var(--cor-preta);
    transition: all .5s;
}

.release__item__btn {
    font-size: 1.4rem;
    font-weight: 600;
    padding: .55rem 1.3rem;
    background: var(--cor-vinho-escuro);
    color: var(--cor-branca);
    border: 1px solid var(--cor-branca);
    border-radius: 5px;
    cursor: pointer;
    margin: .7rem 0;
    transition: all .5s;
}
.release__item__btn:hover {
    background: rgb(153, 72, 103);
}

/**SECTION CURIOSITY**/
.curiosity {    
    padding: 2rem;
}

.curiosity__title {
    text-align: center;
    font-size: 2.2rem;
    margin: 1rem 0 1.6rem 0;
}

.curiosity__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

.curiosity-wrapper {
    perspective: 800px;
    flex-basis: 23%;
}

.curiosity-item {
    text-align: center;
    border: 3px solid var(--cor-branca);
    color: var(--cor-branca);
    background-color: var(--cor-vinho-claro);
    padding: .8rem 2rem 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--cor-vinho-claro), 0 0 0 4px var(--cor-vinho-claro), 0 0 0 4px var(--cor-vinho-claro);
    max-height: 500px;
    overflow: hidden;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .7s;
}
.change.curiosity-item {
    transform: rotateY(180deg);
}

/* front content */
.curiosity-item__front {
    height: 100%;
    opacity: 1;
    transition: opacity .45s .15s;
}
.change.curiosity-item__front {
    opacity: 0;
}

.curiosity-item__title {    
    font-size: 1.8rem;
    margin-bottom: .8rem;
    color: var(--cor-branca);
    text-shadow: -1px -1px 0 var(--cor-preta), 1px -1px 0 var(--cor-preta), -1px 1px 0 var(--cor-preta), 1px 1px 0 var(--cor-preta);
}

.curiosity-item__image-front img {
    display: block;
    width: 100%;
    max-height: 390px;
    border: 2px solid var(--cor-branca);
    border-radius: 5px;
}

.curiosity-item__check {
    margin-top: .9rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-branca);
    background-color: var(--cor-rosa);
    border: 1px solid var(--cor-branca);
    cursor: pointer;
    transition: all .5s;
}
.curiosity-item__check:hover {
    color: var(--cor-preta);
    background: rgba(255, 255, 255, .5);
    text-shadow: none;
}

/* back content */
.curiosity-item__back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg) translateY(100%);
    opacity: 0;
    display: grid;
    align-items: center;
    transition: opacity .2s, transform .7s;
}
.change.curiosity-item__back {
    opacity: 1;
    transform: rotateY(180deg) translateY(0%);
}

.curiosity-item__back__img {
    display: block;
    width: calc(70px + 3vw);
    margin: .5rem auto;
}
.change.curiosity-item__back__img {
    animation: move-image 2s;
}
@keyframes move-image {
    from {transform: scale(.35); opacity: .35;}
    to {transform: scale(1); opacity: 1;}
}

.curiosity-item__description {
    margin: .8rem 0;
    padding: 0 2rem;
    font-size: calc(.5rem + .8vw);
    line-height: 1.4;
}

.curiosity-item__close {
    padding: calc(3px + .3vw);
    border: 1px solid var(--cor-branca);
    color: var(--cor-branca);
    background-color: var(--cor-rosa);
    border-radius: 3px;
    width: calc(80px + .5vw);
    margin: .5rem auto;
    font-weight: 600;
    cursor: pointer;
    transition:  all .5s;
}
.curiosity-item__close:hover {
    background: rgba(255, 255, 255, .5);
    color: var(--cor-preta);
}

/**MEDIA QUERIES**/
/* Curiosity */
@media(min-width: 1800px) {
    .curiosity__content {
        justify-content: space-evenly;
    }
}

@media(max-width: 950px) {
    .curiosity__content {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .curiosity-wrapper {
        flex-basis: 43%;
    }

    .curiosity-item {
        max-height: 450px;
    }

    .curiosity-item__image-front img {
        max-height: 350px;
    }

    .curiosity-item__back__img {
        width: calc(100px + 3vw);
    }

    .curiosity-item__description {
        font-size: calc(.85rem + .8vw);
    }
    
    .curiosity-item__close {
        padding: calc(5px + .3vw);
        width: calc(100px + .5vw);
    }
}

@media(max-width: 800px) {
    /*Mission*/
    .mission__content {
        flex-wrap: wrap;
    }

    .mission__content__item {
        flex-basis: 48%;
    }

    /*Promotion*/
    .promotion__content {
        flex-wrap: wrap;
    }
    
    .promotion__item {
        flex-basis: 48%;
    }

    /*Release*/
    .release__content {
        grid-template-columns: repeat(2, 48%);
    }
}

@media(max-width: 600px) {
    /* Curiosity */
    .curiosity-wrapper {
        flex-basis: 75%;
    }

    .curiosity-item__back__img {
        width: calc(130px + 3vw);
    }

    .curiosity-item__description {
        font-size: calc(1.3rem + 1vw);
    }
    
    .curiosity-item__close {
        padding: calc(7.7px + .3vw);
        width: calc(115px + .5vw);
    }
}

@media(max-width: 500px) {
    /*Mission*/
    .mission__content__item {
        flex-basis: 96%;
    }

    /*Promotion*/
    .promotion__content {
        justify-content: center;
    }

    .promotion__item {
        flex-basis: 90%;
    }

    /*Release*/
    .release__content {
        grid-template-columns: 90%;
        justify-content: center;
    }
}

@media(max-width: 450px) {
    /* Curiosity */
    .curiosity-wrapper {
        flex-basis: 85%;
    }
}

@media(max-width: 330px) {
    /* Curiosity */
    .curiosity-wrapper {
        flex-basis: 100%;
    }

    .curiosity-item__description {
        font-size: calc(1.15rem + 1vw);
    }
}