/**GLOBAL STYLES**/
:root {
    --cor-vinho-escuro: #530112;
    --cor-vinho-claro: #8C3555;
    --cor-vinho-verde: #A0B200;
    --cor-rosa: #A66F83;
    --cor-dourada: #997C00;    
    --cor-branca: white;
    --cor-preta: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1380px;
    margin: 0 auto;
}

img {
    object-fit: cover;
}

/**HEADER**/
.header {
    position: fixed;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    z-index: 5;
    height: 8rem;
    padding: .8rem;
    background-color: var(--cor-vinho-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cor-dourada);
}

/*Logo*/
.logo__image img {
    width: calc(6rem + 1.2vw);
    height: calc(6rem + 1.2vw);
    border-radius: 50%;
    border: 2px solid var(--cor-branca);
    margin: 4px 0 0 5px;
    animation: move-logo 10s infinite;
}
@keyframes move-logo {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(0deg);
    }
    35% {
        transform: rotateY(180deg);
    }
    45% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

/*Menu*/
.navbar {
    display: flex;
}

.navbar li {
    margin-right: 1.2rem;
}

.navbar li a {
    font-size: calc(.9rem + .5vw);
    color: var(--cor-branca);
    position: relative;
    transition: opacity .5s;
}

.navbar li a:hover {
    opacity: .8;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar .active-link {
    color: var(--cor-vinho-verde);
    font-weight: 550;
}

.navbar li a:before,
.navbar li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background-color: var(--cor-branca);
    transform-origin: center;
    transition: all .5s;
}

.navbar li a:before {
    left: 50%;
}
.navbar li a::after {
    right: 50%;
}

.navbar li a:hover::before {
    width: 50%;
    left: 0;
} 
.navbar li a:hover::after {
    width: 50%;
    right: 0;
}

/*Hamburger Menu*/
.hamburger {
    display: none;
}

/*Icons*/
.icons {
    align-self: flex-start;
    margin: .2rem 1.6rem 0 0;
}

.icons i, .search i {
    font-size: 2.1rem;
    cursor: pointer;
    color: var(--cor-branca);
}

.icons i:first-child {
    margin-right: 1.6rem;
}

.search {
    position: absolute;
    right: 3.3rem;
    bottom: .37rem;
    width: 180px;
    height: 34px;
}

.search__input input {
    padding: 4px 5px 7px 5px;
    border-radius: 4px;
    border: 2px solid var(--cor-dourada);
    width: 180px;
    transition: width .5s;
}

.search__input input::placeholder {
    font-size: 1.3rem;
}

.search__input input.expand {
    width: 207px;
}

.search__input input i {
    cursor: pointer;
}

.search__glass {
    position: relative;
    top: 2px;
    right: 2px;
    transition: all .5s;
}

#search-icon {
    position: absolute;
    bottom: 4px;
    right: 0px;
    color: var(--cor-branca);
    background-color: var(--cor-vinho-verde);
    padding: 4px 3px 2px 5px;
}

/**MAIN**/
main {
    padding-top: 8rem;
}

/** Link to Top **/
.link-top {
    font-size: calc(1.3rem + .5vw);
    position: fixed;
    bottom: 1.4rem;
    right: 1.8rem;
    background: var(--cor-dourada);
    color: var(--cor-branca);
    border-radius: 50%;
    border: 2px solid transparent;
    padding: .35rem .45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .7s;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.link-top:hover {
    background: var(--cor-branca);
    color: var(--cor-dourada);
    border: 2px solid var(--cor-dourada);
}
.show-link {
    visibility: visible;
    opacity: 1;
    z-index: 4;
}

/**FOOTER**/
.footer {
    margin-top: 1rem;
    background-color: var(--cor-vinho-escuro);
    color: var(--cor-branca);
    padding: 3.5rem 2rem;
    border-top: 3px solid var(--cor-dourada);
    position: relative;
}
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 20px;
    background-color: var(--cor-dourada);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-top: 1px solid var(--cor-dourada);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__top__map iframe {
    border-radius: 12px;
    border: 3px solid var(--cor-dourada);
}

.footer__top__map,
.footer__top__details {
    flex-basis: 48%;
}

.footer__top__details {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

.footer__top__details h3 {
    font-size: 1.6rem;
    margin-bottom: .4rem;
}

.footer__top__details span {
    font-size: 1.4rem;
    margin-bottom: .3rem;
}

.footer__details__contact,
.footer__details__address,
.footer__details__attendance {
    margin-bottom: 1.6rem;
}

.footer__contact__whatsapp {
    display: flex;
    align-items: center;
    margin-top: .55rem;
}

.pulse-phone {
    width: 35px;
    height: 35px;
    background-color: #58ea00;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    position: relative;
}

.pulse-phone i {
    font-size: 23px;
    line-height: 35px;
}

.pulse-phone::before, .pulse-phone::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulsing-phone 1.5s linear infinite;
}
.pulse-phone::after {animation-delay: .5s;}
@keyframes pulsing-phone {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.footer__contact__whatsapp span {
    color: var(--cor-branca) !important;
}

.footer__details__social img {
    width: 32px;
    height: 32px;
    margin: .5rem 1.2rem 0 0;
}

.footer__line {
    margin: 2rem 0;
    height: 1.5rem;
    background-color: var(--cor-dourada);
    border: none;
    border-radius: 2px 10px 2px 10px;
    border: 2px solid var(--cor-branca);
}

.footer__bottom {
    text-align: center;
}

.footer__bottom span {
    font-size: 1.8rem;
}

.footer__bottom strong,
.footer__bottom p {
    font-size: 1.5rem;
}

.footer__bottom p {
    margin-top: 1rem;
}

/**MEDIA QUERIES**/
@media(max-width: 800px) {
    .logo__image img {
        margin: 4px 0 0 0px;
    }
    
    .navbar {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        top: 8rem;
        left: 0;
        max-width: 150px;
        max-height: 0px;
        padding: 10px 5px 10px 16px;
        background-color: var(--cor-vinho-verde);
        border-radius: 0 0 7px 0;
        transition: all .5s;
    }
    /*Open Menu*/
    .header.open-menu .navbar {
        opacity: 1;
        visibility: visible;
        max-height: 200px;
    }

    .navbar li {
        margin-bottom: 14px;
    }
    .navbar li:last-child {
        margin-bottom: 0;
    }

    .navbar li a {
        color: var(--cor-branca);
        font-size: calc(1.2rem + .5vw);
    }

    .navbar .active-link {
        color: var(--cor-vinho-escuro);
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 3rem;
        right: 1.8rem;
        cursor: pointer;
        animation: pulse 2s infinite;
    }
    @keyframes pulse {
        0% {transform: scale(1);}
        50% {transform: scale(1.1);}
        100% {transform: scale(1);}
    }

    .hamburger__line {
        width: 3rem;
        height: 4px;
        background-color: var(--cor-branca);
        margin-bottom: .5rem;
        transform-origin: right;
        transition: all .5s;
    }
    .hamburger__line:last-child {
        margin-bottom: 0;
    }
    /*Change Hamburger Menu*/
    .header.open-menu .hamburger__line:first-child {
        transform: rotate(-45deg) translateY(-2px);
    }
    .header.open-menu .hamburger__line:nth-child(2) {
        opacity: 0;
    }
    .header.open-menu .hamburger__line:last-child {
        transform: rotate(45deg) translateY(2px);
    }

    .icons {
        align-self: center;
        margin-right: 5.5rem;        
    }

    .search {
        left: 10rem;
        top: 52%;
        transform: translateY(-50%);
    }

    .footer__top__map,
    .footer__top__details {
        flex-basis: 100%;
    }

    .footer__top__details {
        margin-top: 2rem;
        text-align: center;
    }

    .footer__details__contact,
    .footer__details__address,
    .footer__details__attendance {
        margin-bottom: 2.5rem;
    }

    .footer__contact__whatsapp {
        justify-content: center;
        margin-top: .8rem;
    }
}

@media(max-width: 500px) {
    .logo__image img {
        width: calc(6.5rem + 1.2vw);
        height: calc(6.5rem + 1.2vw);
    }

    .hamburger {
        top: 1.3rem;
    }

    .icons {
        position: absolute;
        top: 25%;
        left: 52%;
        transform: translate(-50%, -50%);
    }

    .search {
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }

    .search__input input {
        padding: 3px 4px 5px 4px;
    }
    
    #search-icon {    
        padding: 3px 3px 0px 5px;
    }

    .link-top {
        font-size: calc(1.5rem + .5vw);
    }
}

@media(max-width: 350px) {
    .search {
        width: 150px;
        left: 62%;
    }
    
    .search__input input {
        width: 150px;
    }

    .search__input input.expand {
        width: 178px;
    }
}