.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg:  #A0B200;
    --bs-btn-border-color: #997C00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #997C00;
    --bs-btn-hover-border-color: #997C00;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color:#dc3545;
}

.btn-outline-success {
    --bs-btn-color: #8C3555;
    --bs-btn-border-color: #8C3555;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8C3555;
    --bs-btn-hover-border-color: #8C3555;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}
.css-rkgrxe {
    padding: 8px;
    height: 40px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(230, 230, 230);
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    user-select: none;
}
.text-danger{
    
    color: #530112 !important;
    font-size: 20px;
}

.btn-outline-danger {
    --bs-btn-color:#530112 ;
    
}