/*CARRINHO*/
h1.titulo {
    text-align: center;
    margin: 2rem 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container__carrinho {
    padding: .5rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    width: 65vw;
}

.container__carrinho__table_produtos {
    border-collapse: collapse;
    height: 20vh;
    width: 65vw;
}

th {
    background-color: var(--cor-vinho-escuro);
    color: rgb(238, 237, 237);
    font-size: 16px;
}

td {
    background-color: #f8f4f4;
}

td, th {
    border: 1px solid var(--cor-vinho-verde);
    text-align: left;
    padding: 8px;
}

.container__imagem {
    width: 6vw;
}

.container__imagem img {
    width: 270px;
    height: 390px;
    border: 2px solid var(--cor-preta);
    border-radius: 5px;
}

.container__nome {
    font-size: 1.8rem;
    color: var(--cor-vinho-escuro);
    margin-top: .4rem;
}

.container__tabela_coluna_img {
    width: 2vw;
}

.container__tabela_coluna_nome {
    width: 30vw;
}

.container__tabela_coluna_subtotal {
    width: 17vw;
}

.container__botoes {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--cor-preta);
    padding: .7rem 1.3rem;
    border-radius: 5px;
}

.container__tabela_coluna_sub {
    display: flex;
    justify-content: space-around;
}

.carrino__botao {
    cursor: pointer;
    border: none;
    background-color: Transparent;
}

button#botao-subtrai, button#botao-remove {
    color: var(--cor-vinho-escuro);
}

button#botao-adiciona {
    color: var(--cor-vinho-verde);
}

#quantidade-item {
    font-size: 1.8rem;
    margin: 0 1.3rem;
}

.container__valor {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}

.container__resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_resume {
    width: 25vw;
    margin-top: 1rem;
    font-size: 1.4rem;
    border-collapse: collapse;
    font-weight: 500;
}

.carrinho__tempo {
    margin: .5rem 0;
}

.carrinho__frete {
    margin: .5rem 0 2rem 0;
}

.btns_rotas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
}

.btn {
    border: 1px solid var(--cor-preta);
    border-radius: 5px;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    color: var(--cor-branca);
    font-weight: 600;
    margin-top: 2rem;
    cursor: pointer;
}

.carrinho__button__back_prod {
    background-color: var(--cor-vinho-escuro);
    transition: all .5s;
}
.carrinho__button__back_prod:hover {
    background-color: var(--cor-vinho-claro);
}

.carrinho__button__finish {
    background-color: var(--cor-vinho-verde);
    transition: all .5s;
}

.carrinho__button__finish:hover {
    background-color: #849207;
}

/*Media Queries*/
/* @media(max-width: 600px) {
    .container__carrinho {
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .container_direita {
        margin: 1.2rem 0rem 0 0;
    }
}

@media(max-width: 360px) {
    .container__imagem img {
        width: 250px;
        height: 370px;
    }
}

@media(max-width: 300px) {
    .container__imagem img {
        width: 200px;
        height: 300px;
    }

    .carrinho__nav {
        flex-wrap: wrap;
    }

    .carrinho__nav__link:first-child {
        margin-bottom: 2rem;
    }
} */