h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
}

.text-danger {
    font-size: 25px;
}

p {
    font-size: 15px;
}


.btn-beginning {
    font-size: 20.5px;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: #997C00;
    background-color: #530112;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-beginning:hover {
    background-color:#997C00;
}