main {
    font-size: 20px;
}


div.conteiner-painel-pedidos {
    display: flex;
    gap: 5rem;
    color: #530112;
}

div.painel-vertical {
    padding: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 1.4px;
    margin-left: -20rem;
    opacity: 1;
}

.foto-cliente {
    width: 24vw;
}

div.foto-cliente img {
    border-radius: 100%;
    width: 60%;
}

div.foto-cliente h3 {
    text-align: center;

}



div.nav-painel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.nav-painel > div{
    width: 80%;
    margin: 0.2rem auto;
    padding: 0.3rem;
    border-radius: 8px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #530112, #b87086);
    background-image: -moz-linear-gradient(top, #530112, #b87086);
    background-image: -ms-linear-gradient(top, #530112, #b87086);
    background-image: -o-linear-gradient(top, #530112, #b87086);
    background-image: -webkit-gradient(to bottom, #530112, #b87086);
    
}

div.nav-painel > div:hover{
    background-image: -webkit-linear-gradient(top, #b87086, #530112);
    background-image: -moz-linear-gradient(top, #b87086, #530112);
    background-image: -ms-linear-gradient(top, #b87086, #530112);
    background-image: -o-linear-gradient(top, #b87086, #530112);
    background-image: -webkit-gradient(to bottom, #b87086, #530112);
}

div.nav-painel > div h5 {
    margin: 0.3rem;
    text-align: center;
    color: white;
   
}

div.nav-painel > div a {
    text-decoration: none;
}

div.atendimento-painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 1.5rem
}

div#contatos {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 7.5rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

div#contatos p {
    font-size: 14px;
}

div#chat-link {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0.2rem auto;
    padding: 0.3rem;
    border-radius: 8px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #b87086, #530112);
    background-image: -moz-linear-gradient(top, #b87086, #530112);
    background-image: -ms-linear-gradient(top, #b87086, #530112);
    background-image: -o-linear-gradient(top, #b87086, #530112);
    background-image: -webkit-gradient(to bottom, #b87086, #530112);
}

div#chat-link:hover {
    background-image: -webkit-linear-gradient(top, #530112, #b87086);
    background-image: -moz-linear-gradient(top, #530112, #b87086);
    background-image: -ms-linear-gradient(top, #530112, #b87086);
    background-image: -o-linear-gradient(top, #530112, #b87086);
    background-image: -webkit-gradient(to bottom, #530112, #b87086);
}

div#chat-link a {
    text-decoration: none;
    color: white;

}

.sec-sem-prod {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec-sem-prod > img {
    width: 27vw;
}

.btn-go-prod {
    background-color: var(--cor-vinho-verde);
    font-size: 1.4rem;
    margin-top: 3rem;
    padding: 1.7rem 2rem;
    min-width: 120px;
    transition: all .5s;
    color: white;
    border-radius: 9px;
    border: none;
    font-weight: bold;
}

.btn-go-prod:hover {
    background-color: #849207;
    cursor: pointer;
}



div.tabela-pedidos {
    padding: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 1.4px;
    opacity: 1;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    gap: 3rem;
   
}

div.cabecalho-pedido > div > h3 {
    margin: 0 auto;
}



div.txt-nro-pedido {
    width: 30%;
    padding: 1rem;
    opacity: 1;
}

div.txt-data-compra {
    width: 20%;
    padding: 1rem;
    opacity: 1;
}

div.txt-status-pagamento {
    width: 20%;
    padding: 1rem;
    opacity: 1;
}
.btn-detalhes {
    background-color: white;
    border: none;
    cursor: pointer;
}

div.txt-andamento-compra {
    width: 20%;
    padding: 1rem;
    opacity: 1;
}

div.txt-nota-fiscal {
    width: 10%;
    padding: 1rem;
    opacity: 1;
}

thead {
    font-size: 20px;
}

tbody {
    font-size: 14px;
}

th {
    color: rgb(30, 22, 22);
    padding: 1rem;
    box-shadow: 3px 0px 5px rgb(189, 189, 189);
    border-radius: 5px;
}

.pedidos-clientes {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
}

div.nro-pedido-cliente {
    width: 30%;
    padding: 1rem;
    align-self: center;
    
}

div.nro-pedido-cliente h4 {
    margin: 0 auto;

}

div.data-compra-cliente {
    width: 20%;
    padding: 1rem;
    align-self: center;
}

div.data-compra-cliente h4 {
    margin: 0 auto;
}

div.status-pagamento-cliente {
    width: 20%;
    padding: 1rem;
    align-self: center;
}

div.status-pagamento-cliente h4 {
    margin: 0 auto;
}

div.andamento-compra-cliente {
    width: 20%;
    padding: 1rem;
    align-self: center;

}

div.andamento-compra-cliente h4 {
    margin: 0 auto;
}

div.nota-fiscal-cliente {
    width: 10%;
    padding: 1rem;
}

div.nota-fiscal-cliente img{
    width: 2rem;
}

@media (max-width:1399px) {
    div.painel-vertical {
        padding: 2rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #2426721c;
        border-radius: 1.4px;
        margin-left: -2rem;
        opacity: 1;
    }
    


div#contatos p {
    font-size: 13px;
}

}

@media (max-width:1131px) {
    div.painel-vertical {
        padding: 2rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #2426721c;
        border-radius: 1.4px;
        margin-left: -2rem;
        opacity: 1;
    }
    

div#contatos p {
    font-size: 13px;
}
}

@media (max-width:1024px) {
    div.painel-vertical {
        padding: 2rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #2426721c;
        border-radius: 1.4px;
        margin-left: 1rem;
        opacity: 1;
    }
    
    div.tabela-pedidos {
        padding: 2rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 20px 40px #2426721c;
        border-radius: 1.4px;
        opacity: 1;
        margin-right: 5rem;

}

div#contatos p {
    font-size: 13px;
}

}

@media (max-width: 1000px) {

 .conteiner-painel-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 98vh;
        padding: 1rem;
        margin: 2rem;
        border-radius: 2.5rem;
        border: none;

    }

    div.painel-vertical {
        width: 98vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgba(0, 0, 0, 0.524)
    }

    .foto-cliente {
        justify-content: center;
        margin: auto;
    }

    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 98vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgba(0, 0, 0, 0.524);
        border-radius: 2.5rem;
    }

    .meus-pedidos-titulo {
        justify-content: center;
        margin: auto;
    }

    .search {
        display: none;
    }
}


@media (max-width: 768px) {
div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    gap: 0.9rem;
    margin-right: 2.1rem;
}
}


@media (max-width: 628px) {
    div.painel-vertical {
        width: 75vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 6rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 86vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
   
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}
}

@media (max-width: 608px) {
    div.painel-vertical {
        width: 70vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 6rem;
    }
}

@media (max-width: 568px) {
    div.painel-vertical {
        width: 65vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 6rem;
    }
}

@media (max-width: 509px) {
    div.painel-vertical {
        width: 60vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 6rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 60vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 4.8rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -1rem;
    font-size: 10px;
}
}

@media (max-width:480px) {
    div.painel-vertical {
        width: 50vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 7rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 50vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 7.2rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -1rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
}
}

@media (max-width:443px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 6rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 6rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}
}

@media (max-width:403px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 5rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 5rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}
}

@media (max-width:381px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 3rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 3rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}
}

@media (max-width:352px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 2rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 2rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}
}

@media (max-width:332px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 1rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: 1rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}
}

@media (max-width:320px) {
    div.painel-vertical {
        width: 45vh;
        margin-left: 0;
        background: #fafafa;
        border-radius: 3rem;
        margin: 1rem;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        margin-left: 1rem;
    }
    
    div.tabela-pedidos {
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
        width: 45vh;
        padding: 1rem;
        margin: 2rem;
        border: none;
        box-shadow: 0px 1.8rem 3rem rgb(0 0 0 / 52%);
        border-radius: 2.5rem;
        margin-left: .3rem;
   }

   .conteiner-painel-pedidos {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2.5rem;
    border: none;
}

div.cabecalho-pedido {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    gap: 1.9000000000000004rem;
    margin-left: -2.5rem;
    font-size: 7px;
}

div.pedidos-clientes {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 60%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    gap: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #0000001c;
    border-radius: 1rem;
    opacity: 1;
    font-size: 7px;
    margin-left: -7px;
}

div#contatos p {
    font-size: 12px;
}
}