:root {
    --cor-vinho-escuro: #530112;
    --cor-vinho-claro: #8C3555;
    --cor-vinho-verde: rgb(160, 178, 0);
    --cor-rosa: #A66F83;
    --cor-dourada: #997C00;    
    --cor-branca: white;
    --cor-preta: black;
}

body {
    font-family: sans-serif;
    width: 100%;
  }
  
  header {
    color: var(--cor-dourada);
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .painelAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
   
   
  }

  .painelAdmin > div > a > h2 {
    color: white;  

  }
  
  .box {
    width: 200px;
    height: 100px;
    margin: 20px;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  header > h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .btn-prod {
    background-color: #530112;
    border-radius: 3rem;
  }

  .btn-cat {
    background-color: #8C3555;
    border-radius: 3rem;
  }
  
  .btn-user {
    background-color: #A66F83;
    border-radius: 3rem;
  }

  .btn-prod:hover {
    background-color: #5301117e;
  
  }

  .btn-cat:hover {
    background-color: #8c355589;
  }
  
  .btn-user:hover {
    background-color: #a66f837c;
  }

  

  .box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #333;
  }

  
  