 

 main > container {
     display: block;
  flex-direction: row;
    box-sizing: border-box;
     justify-content: center;
     font-family: 'Montserrat', sans-serif;
     width: 100%;



 }

 .container h1 {
     font-weight: 600;
     font-size: 3rem;
     color: #997C00;
     margin-top: 20px;
     font-style: italic;
     text-align: center;
 }

 .container h3 {

     font-size: 3rem;
     margin-top: 5px;
     margin-left: 20px;

 }


 #first-imag {
     width: 100%;
     padding: 3rem;
     border-radius: 3rem;
 }

 .first-div {
     display: flex;
     flex-direction: column;
    align-items: stretch;
     justify-content: stretch;
     margin-right: 20px;
     background-color: #eaf6eb;
     padding: 3rem;
     border-radius: 3rem;
     width: 100%;
     
    
 }

 

 .first-div,
 p {

     font-size: 18px;
     text-align: center;
     margin-top: 10px;
     width: 100%;
    
    

 }
 .first-div,img{

    width: 100%;
    align-items: flex-end;
 }



 .second-div {
     display: flex;
     flex-direction: row-reverse;
     padding-left: 5px;
     font-size: 3rem;
     margin-top: 40px;
     width: 100%;
     justify-content: space-between;
     height: auto;
     object-fit: cover;
     padding: 3rem;
     border-radius: 3rem;     
     background-color: #eaf6eb;
 }

 .second-div img {
    border-radius: 3rem;
 }
 
 .first-div p,
 .second-div p,
 .third-div p {

     font-size: 18px;
     text-align: center;
     margin-top: 10px;
     
     padding-left: 5rem;
     padding-top: 50px;
     padding-right:30px;



 }

 .third-div {

     display: flex;
     flex-direction: row;
     padding-left: 5px;
     font-size: 3rem;
     margin-top: 40px;
     width: 100%;
     justify-content: space-between;
     height: auto;
     object-fit: cover;
     padding: 3rem;
     border-radius: 3rem;  
     background-color: #eaf6eb;
 }

 .third-div img {
    border-radius: 3rem;
 }

 .third-div,
 p {

     font-size: 18px;
     text-align: center;
     margin-top: 10px;
    
 }
 @media (max-width:1080px) {
    .second-div{
        flex-direction: column-reverse;
    
    }
 }
 @media(max-width:1080px){
    .third-div{
        flex-direction: column-reverse;
    }
 }

 @media(max-width: 1080px){
    .container h3 {
        font-size:2rem;
        margin-left: 200px;
 }
 }