    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;    
    flex-direction: column;
}

.container {
    display: flex;    
    justify-content: space-around;
    margin-top: 3rem;
}

.container__img_prod {
    background-color: #A66F83;
    display: flex;
    border-radius: 2rem;
    border: solid 1.1px black;
}

.container__img_prod:hover img {
    transform: scale(1.5); 
}

.container__desc_prod {
    flex-direction: column;
    width: 60rem;
    text-align: center;
    margin-top: 6rem;
}

.container__desc_prod > h1 {
    font-size: 3rem;
}

.container__desc_prod > h2 {
    background-color: red;
    height: 2.5rem;
    border-radius: .5rem;
    margin: 5rem 24rem 2rem 24rem;
    line-height: 2.5rem;
    font-size: 2rem;
    color: white;
    border: solid 1.1px black;
}

.container__desc_prod > p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 8rem;
}

.botao-verde {
    background-color: #A0B200;
    font-weight: 600;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
