<%- include("partials/header") %>

    <main>
        <h1>
            CADASTRO DE PRODUTOS
        </h1>
        <hr>
        <form action="/admin/produtos/criar" method="POST" class="form" id="formulario" enctype="multipart/form-data">
            <section class="section-filha-form section-container1">
                <!-- Nome -->
                <em>
                    Nome do produto:
                </em>
                <input class="inpt nome" type="text" placeholder="Digite aqui o nome do produto" name="nome">
                <span role="alert" id="nameError" aria-hidden="true">O campo nome não pode estar vazio</span>
            </section>
            <section class="section-filha-form section-container2">
                
                
                <div class="div-container2 div-filha2">
                    <label for="imagem">Choose a profile picture:</label>
                    <input type="file" id="imagem" name="imagem" accept="image/png, image/jpeg"/>
                </div>
                <div class="div-container2 div-filha2">
                    <!-- Preço -->
                    <em>
                        Preço:
                    </em>
                    <input class="inpt preco" type="number" placeholder="R$ 00,00" name="valor">
                    <span role="alert" id="precoError" aria-hidden="true">O campo preço não pode estar vazio</span>
                    <!-- Categorias -->
                    <em>
                        Categoria:
                    </em>
                    <div class="radio">
                        <input class="inpt radio" id='branco' type="radio" name="categoria" value="branco">
                        <label for="branco">Branco</label>
                    </div>    
                    <div class="radio">
                        <input class="inpt radio" id='rose' type="radio" name="categoria" value="rose">
                        <label for="rose">Rose</label>
                    </div>
                    <div class="radio">
                        <input class="inpt radio" id='tinto' type="radio" name="categoria" value="tinto">
                        <label for="tinto">Tinto</label>
                    </div>
                    <div class="radio">
                        <input class="inpt radio" id='espumante' type="radio" name="categoria" value="espumante">
                        <label for="espumante">Espumante</label>
                    </div>                  

                    <span role="alert" id="categoriaError" aria-hidden="true">O campo categoria não pode estar vazio</span>
                </div>
            </section>
            <button type="submit" id="btn-submit" >Enviar</button>
        </form>

    </main>

    <!--JavaScript-->
    <!-- <script src="/js/menu-footer.js"></script> -->
    <!-- <script src="/js/cadastrar.js"></script> -->
    <!--end JavaScript-->
    
<%-include("partials/footer")%> 