<%- include('partials/header') %>

    <!--MAIN-->
    <main id="carrinho">
        <h1 class="titulo">Carrinho de Compras</h1>

        <section class="carrinho">
            <article class="carrinho__item">
                <div class="carrinho__item_esquerda">
                    <figure class="carrinho__item__imagem">
                        <img src="/images/tela-home/white-wine/1-white-wine.jpg" alt="Vinho">
                    </figure>

                    <h2 class="carrinho__item__nome">Vistamar Brisa, 2016</h2>
                </div>
                
                <div class="carrinho__item_direita">
                    <div class="carrinho__item__info">
                        <div class="carrinho__item__botoes">
                            <span id="botao-subtrai" class="carrino__botao subtrai">
                                <i class="fa-solid fa-minus fa-2x"></i>
                            </span>     

                            <span id="quantidade-item">1</span>

                            <span id="botao-adiciona" class="carrino__botao adiciona">
                                <i class="fa-solid fa-plus fa-2x"></i>
                            </span>                            
                        </div>

                        <h3 class="carrinho__item__valor">Valor: R$<span id="valor-item">78,70</span></h3>
                    </div>
                </div>
            </article>

            <hr class="linha-divisoria">            

            <h3 class="carrinho__valor-total">Valor Total: R$<span id="valor-total-itens">78,70</span></h3>
            
            <h4 class="carrinho__tempo">5 A 7 DIAS ÚTEIS</h4>

            <h4 class="carrinho__frete">(FRETE GRÁTIS)</h4>

            <ul class="carrinho__nav">
                <li class="carrinho__nav__link">
                    <a href="/produtos">Continuar Compra</a>
                </li>

                <li class="carrinho__nav__link">
                    <a href="/confira-itens">Fechar Compra</a>
                </li>
            </ul>
        </section>

        <!--Link to Top-->
        <a class="link-top" href="#carrinho"><i class="fas fa-arrow-up"></i></a>        
    </main>    
    <!--end MAIN-->    

    <!--JAVASCRIPT-->
    <script src="/js/menu-footer.js"></script>
    <script src="/js/carrinho.js"></script>
    <!--end JAVASCRIPT-->
</body>
</html>

<%- include('partials/footer') %> 