<%- include("partials/headerAdm") %>

    <main>
        <h1>
            EDITAR CATEGORIA
        </h1>
        <hr>
        <form action="/admin/produtos/categorias/editar/<%=categoria.id%>?_method=PUT" method="POST" class="form" id="formulario" enctype="multipart/form-data">
            <section class="section-filha-form section-container1 section-nome-preco">
                <!-- Nome -->
                <em class="emNome-Preco">
                    Nome da Categoria:
                </em>
                <input class="inpt nome inptPreco" type="text" placeholder="Digite aqui o nome do produto" name="nome" value="<%=categoria.nome %>">
                <span role="alert" id="nameError" aria-hidden="true">O campo categoria não pode estar vazio</span>
            </section>            
            <button type="submit" id="btn-submit" >Enviar</button>
        </form>

    </main>

    <!--JavaScript-->
    <!-- <script src="/js/menu-footer.js"></script> -->
    <!-- <script src="/js/cadastrar.js"></script> -->
    <!--end JavaScript-->
    
<%-include("partials/footer")%> 