<%- include("partials/header") %> 

    <main>
        <h1> Ocorreu um erro</h1>
    </main>

    <!--JavaScript-->
    <script src="../js/main.js"></script>
    <!--end JavaScript-->

    <%-include("partials/footer")%> 