<%- include("partials/header") %> 

    <main>
        <img class="img-cachos-uva" src="/images/tela-eventos/cachos-uva.svg" alt="">
        <section classs="section-pai-eventos">
        </section>
        <h3 class="janeiro"><strong>Janeiro</strong></h3>
        <div class="container-img-1">
            <img class="img-janeiro"src="/images/tela-eventos/janeiro.svg" alt="">
        </div>

        <hr>
        <h3 class="fevereiro"><strong>Fevereiro</strong></h3>
        <div class="container-img-2">
           <img class="img-fevereiro"src="/images/tela-eventos/fevereiro.svg" alt="">
        </div>

        <section class="escolha-vinhos">
           <section class="text-escolhas">
            <h1 class="text-title">A vida é feita</h1>
            <h4 class="text-subtitle">de escolhas, qual a sua?</h4>
           </section>
            <img class="img-tres-categorias" src="/images/tela-eventos/tres-vinhos.svg" alt="">
        </section>
    </main>

    <!--JavaScript-->
    <script src="../js/main.js"></script>
    <!--end JavaScript-->

    <%-include("partials/footer")%> 