<%- include('partials/header') %>

    <!--MAIN-->
    <main class="flex-fill">
        <div class="container text-center">
            <h1>Obrigado!</h1>
            <hr>
            <h3>Anote o número de seu pedido:</h3>
            <h2 class="text-danger"><b>004571</b></h2>
            <p>Em até 7 dias úteis, seu pedido será entregue. Qualquer dúvida sobre este pedido, entre em contato conosco e informe o número do pedido para que possamos te ajudar.</p>
            <p>Tenha um ótimo dia!</p>
            <p>
                Atenciosamente,<br>
                Equipe  wine House
            </p>
            <p>
                <a href="/" class="btn btn-danger btn-lg">Voltar à Página Principal</a>
            </p>
        </div>
    <!--end MAIN-->    

    <!--JavaScript-->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--end JavaScript-->
</body>
</html>

<%- include('partials/footer') %>