<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/css/estilo.css">
    <title>Forma de Pagamento</title>
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/menu-footer/favicon.png">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <!--Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!--CSS-->
    <link rel="stylesheet" href="/public/stylesheets/menu-footer.css">
    <link rel="stylesheet" href="public/css/somos.css">
</head>
<body>
       <!--HEADER-->
       <header class="header">
        <!--Logo-->
        <div class="logo">
            <figure class="logo__image">
                <img src="/public/images/menu-footer/logo.png" alt="Logomarca">
            </figure>
        </div>

        <!--Menu-->
        <nav>
            <ul class="navbar">
                <li class="navbar__link"><a href="../tela-home/index.html">Home</a></li>
                <li class="navbar__link"><a href="../tela-somos/somos.html">Quem Somos</a></li>
                <li class="navbar__link"><a href="../tela-eventos/eventos.html">Eventos</a></li>
                <li class="navbar__link"><a href="../tela-produtos/produtos.html">Produtos</a></li>
                <li class="navbar__link"><a href="../tela-parceiros/parceiros.html">Parceiros</a></li>
            </ul>
        </nav>

        <!--Hamburger Menu-->
        <div class="hamburger">
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
        </div>

        <!--Login/Compras-->
        <div class="icons">
            <i class="fa-solid fa-user" id="user-icon" title="cadastrar"></i>
            <i class="fa-solid fa-cart-shopping" id="cart-icon" title="carrinho"></i>
        </div>

        <!--Procura-->
        <div class="search">
            <div class="search__input">
                <input type="text" id="text" name="text" placeholder="buscar">
            </div>
            
            <div class="search__glass">
                <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
            </div>
        </div>
    </header>
    <!--end HEADER-->

    <!--MAIN-->
    <main class="flex-fill">
        <div class="container">
            <h1>Selecione a Forma de Pagamento</h1>
            <h3 class="mb-4">
                Selecione a forma de pagamento e clique em <b>Continuar</b> para prosseguir para <b>concluir o
                    pedido</b>.
            </h3>
            <div class="d-flex justify-content-between flex-wrap border rounded-top pt-4 px-2 border-dark">

                <div class="mb-4 mx-2 flex-even ">
                    <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag1">
                    <label class="btn btn-outline-dark p-4 h-100 w-100" for="pag1">
                        <h3>
                            <b class="text-dark">Cartão de Crédito</b>
                        </h3>
                        <hr>
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="text" id="txtNome" class="form-control" placeholder=" " autofocus>
                                <label for="txtNome" class="text-black-50">Nome Impresso no Cartão</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" id="txtNumero" class="form-control" placeholder=" ">
                                <label for="txtNumero" class="text-black-50">Número do Cartão</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" id="txtValidade" class="form-control" placeholder=" ">
                                <label for="txtValidade" class="text-black-50">Validade (mm/aa)</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" id="txtCodigo" class="form-control" placeholder=" ">
                                <label for="txtCodigo" class="text-black-50">Código de Segurança</label>
                            </div>

                            <div class="form-floating">
                                <select id="selParcelas" class="form-select">
                                    <option value="1" selected>À vista</option>
                                    <option value="2">2 x sem juros</option>
                                    <option value="3">3 x sem juros</option>
                                    <option value="4">4 x sem juros</option>
                                    <option value="5">5 x sem juros</option>
                                    <option value="6">6 x sem juros</option>
                                </select>
                                <label for="selParcelas" class="text-black-50">Parcelamento</label>
                            </div>
                        </form>

                    </label>
                </div>
                <div>
                    
                </div>
                



                <div class="mb-4 mx-2 flex-even">
                    <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag2">
                    <label class="btn btn-outline-dark p-4 h-100 w-100" for="pag2">
                        <h3>
                            <b class="text-dark">Dinheiro</b>
                        </h3>
                        <hr>
                        <form action="">
                            <h4>Valor da Compra: <b>R$ 269,80</b></h4>
                            <br>
                            <p>
                                Se precisar de troco, informe no campo abaixo.
                            </p>
                            <div class="form-floating mb-3">
                                <input type="text" id="txtTroco" class="form-control" placeholder=" ">
                                <label for="txtTroco" class="text-black-50">Precisa de troco para quanto?</label>
                            </div>
                        </form>

                    </label>
                </div>

            </div>









                <div class="text-end border border-top-0 rounded-bottom p-4 pb-0">
                    <a href="/selecionar endereço.html" class="btn btn-outline-success btn-lg mb-4">
                        Voltar aos Endereços
                    </a>
                    <a href="/fechamento -pedido.html" class="btn btn-danger btn-lg ms-2 mb-4">Finalizar</a>
                </div>
            </div>


</main>






    
    
    <!--end MAIN-->

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__top__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111504.06928210588!2d-51.5877516386636!3d-29.14987091181183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951c3b525635c503%3A0x903e94cea10ccfe6!2sBento%20Gon%C3%A7alves%2C%20RS%2C%2095700-000!5e0!3m2!1spt-BR!2sbr!4v1665773995807!5m2!1spt-BR!2sbr" width="100%" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="footer__top__details">
                <div class="footer__details__contact">
                    <h3>Contato</h3>
                    <span>contato@loja.winehouse.com.br</span>
                    <div class="footer__contact__whatsapp">
                        <span class="pulse-phone">
                            <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        </span>                        
                        <span>(54) 99427-XXXX</span>
                    </div>
                </div>

                <div class="footer__details__address">
                    <h3>Endereço</h3>
                    <span>Avenida dos Guianazes, 1340</span>
                    <span>CEP: 95700-058 / Bento Gonçalves - RS</span>
                </div>

                <div class="footer__details__attendance">
                    <h3>Horário de atendimento</h3>
                    <span>De segunda a sexta das 09h às 18h.</span>
                    <span>Exceto feriados.</span>
                </div>

                <div class="footer__details__social">
                    <h3>Redes Sociais</h3>
                    <img src="/public/images/menu-footer/facebook.png" alt="Ícone Facebook">
                    <img src="/public/images/menu-footer/instagram.png" alt="Ícone Instagram">
                    <img src="/public/images/menu-footer/twitter.png" alt="Ícone Twitter">
                </div>
            </div>
        </div>

        <hr class="footer__line">

        <div class="footer__bottom">
            <span>&copy;</span>
            <strong>Loja Wine House</strong>
            <p>Se beber, não dirija. A venda de bebidas alcoólicas é proibida para menores de 18 anos.</p>
        </div>
    </footer>
    <!--end FOOTER-->

    <!--JavaScript-->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--end JavaScript-->
</body>
</html>