<%- include('partials/header') %> 

<!--MAIN-->
    <main id="us">
        <!--inicio do formulário-->

        <form action="/cliente/login" method="POST">
            <div class="container">

                <div class="card">
                    <div>
                        <h2 class="title">Bem-vindo à Wine House!</h2>
                        <p>Antes de continuar, faça seu login.</p><br>
                    </div>
                  
                        <label for="email">E-mail</label>
                        <input class="input" type="email" id="email" name="email"><br>                      
                        <label for="senha">Senha</label>
                        <input class="input" type="password" id="password" name="senha">
                        
                </div>
                    <button type="submit" id="enviar">Fazer Login</button>    
           
            <a class="link" href="/cliente/cadastrar-conta">
                <span>Faça seu cadastro</span></a>
            </div>

        </form>
        
        <!--fim do formulário-->
        <a class="link-top" href="#us"> <i class="fas fa-arrow-up"></i></a>
    </main>
    <!--end MAIN-->

  <!--JavaScript-->
  <script src="/js/menu-footer.js"></script>
  <script src="/js/login.js"></script>
  <!--end JavaScript-->
    
  <%- include('partials/footer') %> 