<%- include('partials/headerAdm') %> 
    <main>
        <header>
           <section>
                <div class="painel">
                    <a href="/admin/produtos">Acessar Painel de produtos</a>
                </div>
            </section>


        </header>





    </main>


    <!--JavaScript-->
    <script src="../js/main.js"></script>
    <script src="/js/menu-footer.js"></script>
    <script src="/js/curiosities.js"></script>

    <!--Banner-->
    <script src="/js/banner.js"></script>
    <!--end JavaScript-->

    <%-include("partials/footer")%> 