<%- include('partials/header') %>

    <!--MAIN-->
    <main>
        <section class="container">
            <img id="first-imag" src="/images/tela-parceiros/uvas.png" alt="parreiral">
            <h1>Produtores parceiros</h1>
            <h3>Região Vale do São Francisco</h3>

            <div class="first-div">
             
                <img src="/images/tela-parceiros/valecom uvas.png" alt="Vale do São Francisco">
                
                <p>
                   <strong>O Vale fica localizado entre Pernambuco e Bahia, com solos argilosos e arenosos pobres, mas
                    ricos em minerais e clima semiárido. Nos anos 60, as primeiras videiras foram plantadas e nos anos
                    80 surgiram os primeiros investimentos vinícolas.Em 2003, o Instituto do Vinho do Vale do São
                    Francisco foi criado, a fim de fortalecer a viticultura local.</strong> 
                </p>
            </div>

            <div class="second-div">               
                 <img src="/images/tela-parceiros/rioSol.png" alt="Vínicula Rio sol"><br>
                
                    <p><strong>Vínicula Rio do Sol<br><br>O projeto do Rio Sol nasceu em 2002, da parceria entre a Dão Sul, <br>empresa da Global Wines, e a
                    Expand. Localizada nas margens do rio São Francisco e com mais de 200 hectares de vinhas, é uma
                    vinícola que contraria a lógica das uvas e<br> elabora até duas safras e meia por ano, graças à
                    maneira
                    única de irrigar os vinhedos.</p></strong>
            </div>

            <div class="third-div">           
                <img src="/images/tela-parceiros/terraNova.png" alt="Vínicula Terra Nova">
                <p><strong>Vínicula Terra Nova<br><br>Quando a Vinícola Miolo chegou na Bahia, em 2001, carregou consigo a mesma esperança que o imigrante
                    Giuseppe Miolo, bisavô de Adriano Miolo, trouxe da Itália em 1897, que ao plantar as primeiras mudas
                    de uvas deu origem ao emblemático Lote 43, no Vale dos Vinhedos. Nesses 20 anos no sertão brasileiro, a
                    marca Terranova germinou e hoje é sinônimo de vida.</p></strong>
            </div>
        </section>
    </main>
    <!--end MAIN-->

    <!--JavaScript-->
    <script src="/js/menu-footer.js"></script>
    <!--end JavaScript-->

    <%- include('partials/footer') %> 