<%- include('partials/header') %> 

    <!--MAIN-->
    <main>
        <section class="container">
            <header class="container__img_prod">
                <img src="/images/tela-prod-interno/tresvinhos.png" alt="">
            </header>
            <section class="container__desc_prod">
                <h1>
                    Kit Exclusivo - VIK <br>
                    3 Itens, 750 ml. <br>
                </h1>
                <h2>15% OFF</h2>
                <p>R$ 2850,85</p>
                <button class="botao-verde">Adicionar</button>
            </section>
        </section>

        <p class="titulo-ficha-tec">Ficha Técnica</p>
        <hr>
        <section class="secao-ficha-tec">
            <article class="card1">
                <p><i>Uva</i><br>
                   Chardonnay, Sauvignon Blanc e Torrontés
                </p>
                <br>
                <p><i>Classificação</i><br>
                   Seco
                </p>
                <br>
                <p><i>Safra</i><br>
                   2021
                </p>
            </article>
            <article class="card2">
                <p><i>Teor Alcoólico</i><br>
                   12.50% ABV
                </p>
                <br>
                <p><i>Temperatura de serviço</i><br>
                   9 °C
                </p>
                <br>
                <p><i>Potencial de guarda</i><br>
                   3 anos
                </p>
            </article>
        </section>
    </main>
    <!--end MAIN-->

<%- include('partials/footer') %> 