<%- include('partials/header') %> 

    <!--MAIN-->
    <main>
        <section class="container-pai">
            <header class="filho1">
                <img src="/images/tela-prod-interno/tresvinhos.png" alt="">
            </header>

            <section class="filho2">
                <h1>
                    Kit Exclusivo - VIK <br>
                    3 Itens, 750 ml. <br>
                </h1>
                <h2>15% OFF</h2>
                <h3>R$ 2850,85</h3>
                <section class="botao-verde">
                    <div class="botoes">
                        <button class="btn-subtrair">-</button>
                        <p>1</p>
                        <button class="btn-somar">+</button>
                    </div>
                    <div class="botao-add">
                        <button>Adicionar</button>
                    </div>

                </section>
            </section>
        </section>
        <p class="titulo-ficha-tec">Ficha Técnica</p>
        <hr>
        <section class="secao-ficha-tec">
            <article class="card1">
                <p><i>Uva</i><br>
                   Chardonnay, Sauvignon Blanc e Torrontés
                </p>
                <br>
                <p><i>Classificação</i><br>
                   Seco
                </p>
                <br>
                <p><i>Safra</i><br>
                   2021
                </p>
            </article>
            <article class="card2">
                <p><i>Teor Alcoólico</i><br>
                   12.50% ABV
                </p>
                <br>
                <p><i>Temperatura de serviço</i><br>
                   9 °C
                </p>
                <br>
                <p><i>Potencial de guarda</i><br>
                   3 anos
                </p>
            </article>
        </section>
    </main>
    <!--end MAIN-->

<%- include('partials/footer') %> 