<%- include('partials/header') %>

    <!--MAIN-->
    <main class="flex-fill">
        <div class="container">
            <h1>ENDEREÇO DE ENTREGA</h1>
            <h3 class="mb-4">
                Selecione um endereço de entrega já cadastrado ou adicione um novo</b>.
            </h3>
            
            <div class="d-flex justify-content-around flex-wrap border rounded-top pt-4 px-2">
                <div class="mb-4 mx-2 flex-even">
                    <input type="radio" class="btn-check" name="endereco" 
                        autocomplete="off" id="end1">
                    <label class="btn btn-outline-dark p-4 h-100 w-100" for="end1">
                        <h3>
                            <b class="text-dark">Minha Casa</b><br>
                            <hr>
                            <b>Ricardo Maroquio</b><br>
                            Rua Caminho Virtual, 101<br>
                            Compulândia/PC<br>
                            CEP 01.010-101
                        </h3>
                    </label>
                    </div>                   
                    </div>

                    <div class="end-menu">                    
                        <a href="#" class="btn btn-outline-success btn-lg mb-4">
                            Adicionar novo endereço
                        </a>
                        <a href="/confira-itens" class="btn btn-danger btn-lg ms-2 mb-4">Página de confirmação do pedido</a>
                    </div>
                </div>
            </main>    
    <!--end MAIN-->

    <!--JavaScript-->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--end JavaScript-->
</body>
</html>

<%- include('partials/footer') %>