<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loja Whine House</title>
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="96x96" href="/public/images/menu-footer/favicon.png">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <!--Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!--CSS-->

    <link rel="stylesheet" href="/public/stylesheets/carrinho1.css">
    <link rel="stylesheet" href="/public/stylesheets/home.css">
    <link rel="stylesheet" href="/public/stylesheets/menu-footer.css">
</head>
<body>
    <!--HEADER-->
    <header class="header">

       
        <!--Logo-->
        <div class="logo">
            <figure class="logo__image">
                <img src="/public/images/menu-footer/logo.png" alt="Logomarca">
            </figure>
        </div>

        <!--Menu-->
        <nav>
            <ul class="navbar">

                <li class="navbar__link"><a href="/src/views/index.html" class="">Home</a></li>
                <li class="navbar__link"><a href="/src/views/carrinho1.html" class="active-link">Carrinho de Compras</a></li>



            </ul>
        </nav>

        <!--Hamburger Menu-->
        <div class="hamburger">
         
        </div>

        <!--Login/Compras-->
        <div class="icons">

        </div>
        

    </header>
    <!--end HEADER-->

    <!--MAIN-->
  
    <main class="flex-fill">
        <div class="container">
            <h1>Selecione o Endereço de Entrega</h1>
            <h3 class="mb-4">
                Selecione o endereço de entrega e clique em <b>Continuar</b> para prosseguir para a <b>seleção da
                    forma de pagamento</b>.
            </h3>
            <div class="d-flex">
                <div class="mb-4">
                   
                    <label class="w-100">
                        <h3>
                            <b class="text-dark">Minha Casa</b><br>
                            <hr>
                            <b>Ricardo Maroquio</b><br>
                            Rua Caminho Virtual, 101<br>
                            Compulândia/PC<br>
                            CEP 01.010-101
                        </h3>
                    </label>
                    </div>

                   
                    </div>

                        
                        <div class="bu">
                        <a href="/src/views/confira_item1.html" class="but-c"> Voltar aos Itens
                        </a>                            
                        </a>
                        <a href="/src/views/fechamento-pagamento.html" class="but-f">Continuar</a>
                       </div>

                    </div>

    
            </main>




    <!--end MAIN-->

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__top__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111504.06928210588!2d-51.5877516386636!3d-29.14987091181183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951c3b525635c503%3A0x903e94cea10ccfe6!2sBento%20Gon%C3%A7alves%2C%20RS%2C%2095700-000!5e0!3m2!1spt-BR!2sbr!4v1665773995807!5m2!1spt-BR!2sbr" width="100%" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="footer__top__details">
                <div class="footer__details__contact">
                    <h3>Contato</h3>
                    <span>contato@loja.winehouse.com.br</span>
                    <div class="footer__contact__whatsapp">
                        <span class="pulse-phone">
                            <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        </span>                        
                        <span>(54) 99427-XXXX</span>
                    </div>
                </div>

                <div class="footer__details__address">
                    <h3>Endereço</h3>
                    <span>Avenida dos Guianazes, 1340</span>
                    <span>CEP: 95700-058 / Bento Gonçalves - RS</span>
                </div>

                <div class="footer__details__attendance">
                    <h3>Horário de atendimento</h3>
                    <span>De segunda a sexta das 09h às 18h.</span>
                    <span>Exceto feriados.</span>
                </div>

                <div class="footer__details__social">
                    <h3>Redes Sociais</h3>

                    <img src="public/img/facebook.png" alt="Ícone Facebook">
                    <img src="public/img/instagram.png" alt="Ícone Instagram">
                    <img src="public/img/twitter.png" alt="Ícone Twitter">
                    
                    

                </div>
            </div>
        </div>

        <hr class="footer__line">

        <div class="footer__bottom">
            <span>&copy;</span>
            <strong>Loja Wine House</strong>
            <p>Se beber, não dirija. A venda de bebidas alcoólicas é proibida para menores de 18 anos.</p>
        </div>
    </footer>
    <!--end FOOTER-->

    <!--JavaScript-->
    <script src=""></script>
    <!--end JavaScript-->
</body>
</html>