<%- include('partials/header') %> 
    <!--MAIN-->
    <main id="us">
        <!--Banner2-->
        <section class="banner2">
            <div class="banner2__images">
                <figure class="banner2__image show2-item">
                    <img src="/images/tela-somos/banner-1.jpg" alt="Vinhos">
                </figure>

                <figure class="banner2__image">
                    <img src="/images/tela-somos/banner-2.jpg" alt="Vinhos">
                </figure>

                <figure class="banner2__image">
                    <img src="/images/tela-somos/banner-3.jpg" alt="Vinhos">
                </figure>

                <figure class="banner2__image">
                    <img src="/images/tela-somos/banner-4.jpg" alt="Vinhos">
                </figure>
            </div>

            <div class="banner2__text"></div>

            <div class="banner2__bullets">
                <figure>
                    <img src="/images/tela-somos/banner-1-mini.jpg" alt="Vinhos">
                </figure>

                <figure>
                    <img src="/images/tela-somos/banner-2-mini.jpg" alt="Vinhos">
                </figure>

                <figure>
                    <img src="/images/tela-somos/banner-3-mini.jpg" alt="Vinhos">
                </figure>
                
                <figure>
                    <img src="/images/tela-somos/banner-4-mini.jpg" alt="Vinhos">
                </figure>
            </div>
        </section>

        <!--Título-->
        <section class="title-page">
            <figure class="title-page_image">
                <img src="/images/tela-somos/uvas.png" alt="Uvas">
            </figure>

            <h2>QUEM SOMOS</h2>

            <figure class="title-page_image">
                <img src="/images/tela-somos/vinho.png" alt="Garrafa de Vinho">
            </figure>
        </section>

        <!--Link to Top-->
        <a class="link-top" href="#us">
            <i class="fas fa-arrow-up"></i>
        </a>

        <!--Missão / Visão / Valores-->
        <section class="values">
            <article class="values__info">
                <h2 class="values__info__title">Missão</h2>

                <p class="values__info__para">
                    Comercialização de vinhos de qualidade, contribuindo com o fortalecimento da agricultura familiar e valorizando a sustentabilidade do meio ambiente.
                </p>
            </article>

            <article class="values__info">
                <h2 class="values__info__title">Visão</h2>

                <p class="values__info__para">
                    Sermos reconhecidos pelos clientes e parceiros,como uma plataforma que se destaca pelos seus produtos e valorização do vinicultor, respeitando a natureza e o cumprimento do nosso papel social.
                </p>
            </article>

            <article class="values__info">
                <h2 class="values__info__title">Valores</h2>

                <p class="values__info__para">
                    O comprometimento com os nossos clientes, nosso maior patrimônio, que sustentam os negócios, além da ética, honestidade e responsabilidade social.
                </p>
            </article>
        </section>

        <!--Título-->
        <section class="title-page">
            <figure class="title-page_image">
                <img src="/images/tela-somos/vinho.png" alt="Garrafa de Vinho">
            </figure>

            <h2>SORTEIOS DO MÊS</h2>

            <figure class="title-page_image">
                <img src="/images/tela-somos/uvas.png" alt="Uvas">
            </figure>
        </section>

        <!--Sorteios-->
            <section class="prize">
                <div class="prize__content">
                    <article class="prize__content__card">
                        <div class="prize__bio">        
                            <button class="prize__bio__btn">
                                <span class="prize__bio__contact">MOSTRAR MAIS</span>
                                <i class="fas fa-angle-up"></i>
                            </button>
                        </div>
        
                        <div class="prize__contact">
                            <h4>DETALHES</h4>
                            <span class="like-icon like-1"><i class="fa-solid fa-thumbs-up"></i></span>
                            <span id="count-likes-1" class="prize__contact__number" value="130"></span>
                        </div>
                          
                        <div class="prize__social info-1">
                          <div class="contact-details">
                            <p>Vinhos tinto e seco Torsella</p>
                          </div>
                        </div>
                  
                        <div class="prize__social info-2">
                          <div class="contact-details">
                            <p>Sorteio de 70 kits neste mês</p>
                          </div>
                        </div>
                  
                        <div class="prize__social info-3">
                          <div class="contact-details">
                            <p>Com 10 compras, concorra aos sorteios</p>
                          </div>
                        </div>
                    </article>
        
                    <article class="prize__content__card">
                        <div class="prize__bio">
                            <button class="prize__bio__btn">
                                <span class="prize__bio__contact">MOSTRAR MAIS</span>
                                <i class="fas fa-angle-up"></i>
                            </button>
                        </div>
        
                        <div class="prize__contact">
                            <h4>DETALHES</h4>
                            <span class="like-icon like-2"><i class="fa-solid fa-thumbs-up"></i></span>
                            <span id="count-likes-2" class="prize__contact__number" value="120"></span>
                        </div>
                          
                        <div class="prize__social info-1">
                          <div class="contact-details">
                            <p>Vinho tinto Italiano Vittorio</p>
                          </div>
                        </div>
                  
                        <div class="prize__social info-2">
                          <div class="contact-details">
                            <p>Sorteio de 80 kits neste mês</p>
                          </div>
                        </div>
                  
                        <div class="prize__social info-3">
                          <div class="contact-details">
                            <p>Com 10 compras, concorra aos sorteios</p>
                          </div>
                        </div>
                    </article>
                </div>
            </section>

        <!--Escolha-->
        <section class="why">
            <article class="why__info">
                <div class="why__info__title">Por quê escolher a Whine House?</div>

                <p class="why__info__para">
                    Nosso objetivo é proporcionar facilidade e autonomia para que os  vinicultores comercializem seus produtos. Defendemos uma agricultura sustentável,  com produção artesanal de vinhos contribuindo para proteção e conservação  ambiental.
                </p>
            </article>
        </section>
    </main>
    <!--end MAIN-->


    <!--JAVASCRIPT-->
    <!--Banner2 / Prize-->
    <script src="/js/somos.js"></script>

    <!--Main-->
    <script src="/js/menu-footer.js"></script>
    <!--end JAVASCRIPT-->

<%- include('partials/footer') %> 